Create Oink

{{#if isEditing}}
  <form>
    <div class="form group">
      <label for="handle">Handle</label>
      {{input id="handle" class="form-control" value=handle}}
    </div>
    <div class="form group">
      <label for="text">Text</label>
      {{textarea id="text" class="form-control" rows="3" value=text}}
    </div>
    <div class="form group">
      <label for="hashtags">Hashtags (separate by commas without spaces)</label>
      {{textarea id="hashtags" class="form-control" rows="1" value=hashtags}}
    </div>

    <button class="btn btn-primary" {{action 'save' handle text}}>Save</button>
  </form>

{{else}}

  <p>{{text}}</p>

  <button class="btn btn-primary" {{action 'create'}}>Create New Oink</button>
{{/if}}
