<h1>Oinker</h1>
<ul>
  {{#each}}
    <li>{{#link-to 'handle' this.handle}}handle: {{handle}}{{/link-to}}  {{#link-to 'oink' this.id}}oink: {{text}}{{/link-to}} hashtags: {{hashtags}} </li>
  {{/each}}
</ul>

{{#link-to 'createoink'}}Create Oink{{/link-to}}

<a href="#" {{action 'sortByDate'}}>Sort by date</a>
<a href="#" {{action 'sortByHandle'}}>Sort by handle</a>
